$pink: #D93B92;
$purple-light: #AB05F2;
$purple: #6805F2;
$base-color: #1D1C40;
$blue: #03a9f4;
$lightblue: #03a8f448;
$orange: #FF9D29;
$blueText: #297FFF;
$grayText: #6a6a6a;
$footerGray: #F6F6F6;
$acidGreen: #0AFFA7;