@mixin oswaldFont{
    font-family: 'Oswald', sans-serif;
}

@mixin russoFont{
    font-family: 'Russo One', sans-serif;
}

@mixin robotoFont {
    font-family: 'Roboto', sans-serif;
}

@mixin amaticFont{
    font-family: 'Amatic SC', cursive;
}