.description {
    padding-top: 86px;
    display: flex;
        justify-content: center;
    &__main {
        display: flex;
        padding-bottom: 90px;
        width: fit-content;
        border-bottom: 2px solid $lightblue;
    }
    &__photo {
        background-color: lightgray;
        width: 240px;
        height: 240px;
        border-radius: 100%;
        margin-right: 78px;
    }
    &__header {
        font-size: 50px;
        color: $blueText;
        text-transform: capitalize;
        font-family: 'Amatic SC', cursive;
    }
    &__text {
        max-width: 774px;
        margin-top: 39px;
        font-size: 20px;
        line-height: 32px;
        text-align: left;
        color: $grayText;
        font-weight: 200;
    }
    &__projects {
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding-bottom: 85px;
        .description__header {
            font-size: 28px;
            line-height: 20px;
            letter-spacing: 5px;
            text-align: center;
        }
    }
    &__thumbnails {
        margin-top: 54px;
        display: grid;
        grid-template-columns: repeat(3, 315px);
        grid-auto-rows: 136px;
        column-gap: 23px;
        row-gap: 19px;
    }
    &__picture {
        background-color: rgba(41, 127, 255, 0.15);
    }
    &__explore {
        color: white;
        height: 80px;
        width: 345px;
        background-color: $orange;
        font-weight: 700;
        border: none;
        font-size: 23px;
        line-height: 23px;
        letter-spacing: 0.25em;
        text-align: center;
        margin-top: 85px;
    }
}
.showcase {
    &_secondaryPg {
        display: block !important;
        padding: 0 !important;
    }
}